*{
box-sizing:border-box;
}


body{

margin:0;

font-family:'Segoe UI',Arial;

background:
linear-gradient(
135deg,
#ffd6e8,
#fff
);

min-height:100vh;

display:flex;
justify-content:center;

}



.app{

width:95%;
max-width:420px;

padding:20px;

}



header{

text-align:center;

background:white;

padding:25px;

border-radius:30px;

box-shadow:
0 10px 30px #0002;

}



.foto{

width:170px;
height:170px;

object-fit:cover;

border-radius:50%;

border:5px solid #ff6fa5;

}



h1{

color:#ff4f91;

}



#frase{

color:#777;

font-style:italic;

}



.card{

background:white;

margin-top:20px;

padding:20px;

border-radius:25px;

box-shadow:
0 8px 25px #0002;

}



.card h2{

color:#ff4f91;

margin-top:0;

}



.progress{

height:10px;

background:#eee;

border-radius:20px;

overflow:hidden;

}



.bar{

height:100%;

background:#ff5c9a;

}



.dia{

display:flex;

align-items:center;

justify-content:space-between;

padding:8px;

margin-top:8px;

background:#fff4f8;

border-radius:12px;

}



input[type="checkbox"]{

width:24px;
height:24px;

accent-color:#ff5c9a;

}



.ok{

color:#ff4f91;

font-weight:bold;

}



footer{

text-align:center;

margin:25px;

color:#777;

font-size:13px;

}